.galleryGrid {
  display: grid;
  gap: 30px;
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas:
    "highlight highlight sneaker-purple sneaker-purple"
    "highlight highlight model sneaker-color"
    "sneaker-white sneaker-white model sneaker-silver";
}


@media (max-width: 768px) {
  .galleryGrid {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "highlight highlight"
      "sneaker-white sneaker-white"
      "model sneaker-color"
      "model sneaker-silver"
      "sneaker-purple sneaker-purple";
  }

  .sneakerWhite,
  .sneakerPurple {
    max-height: 190px;
  }
}

.highlight {
  grid-area: highlight;
}

.sneakerPurple {
  grid-area: sneaker-purple;
}

.model {
  grid-area: model;
}

.sneakerColor {
  grid-area: sneaker-color;
}

.sneakerWhite {
  grid-area: sneaker-white;
}

.sneakerSilver {
  grid-area: sneaker-silver;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(149, 148, 148, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imageCard:hover .overlay {
  opacity: 1;
}

.textContent {
  text-align: center;
}

.productName {
  color: #ededed;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.08em;
  margin: 0;
}

.productDescription {
  color: #ededed;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
  margin: 0;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 30px;
  background: transparent;
  color: white;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: white;
  color: black;
}
